 .download-container {
    display: inline-flex;
    align-items: center; /* Aligns text and button in a row */
    gap: 10px; /* Adds spacing between text and button */
    background: transparent;
  }
  
  

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    width:30%;
    padding: 8px;
    margin-bottom: 10px;
    margin-right: 10%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.15s ease;
    box-shadow: 
    5px 5px 5px rgba(255, 0, 0, 0.5), 
    inset 2px 2px 5px rgba(255, 255, 255, 0.1);
    z-index: 999;
  }
  

 
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #ffffff;
    transition: all 0.15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  /* Removes black background behind text */
.button_text {
    position: relative;
    color: white;  /* Ensures text is white */
    background: none !important;  /* Prevents black bg */
    padding: 0;
    margin: 0;
  }
  
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all 0.2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff0015;
    transform: skew(-15deg);
    transition: all 0.2s ease;
    
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  